$color-light: #fff;
$color-dark: #666;
$color-page-background: #ddd;

$color-primary: #97c4b2;

$color-secondary: #aaa;

$color-icon-primary: #fff;
$color-icon-background: #97c4b2;

$color-right-col-background: #f5f5f5;
$color-right-col-heading-text: #666;
$color-right-col-body-text: #666;
$color-right-col-icon-primary: #fff;
$color-right-col-icon-background: #97c4b2;

// Override settings from hugo-coder
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: revert;
  line-height: normal;
  color: unset
}

@import "resume/abstract";
@import "resume/mixins";
@import "resume/layout";
@import "resume/base";
@import "resume/typography";

@import "resume/components/section";
@import "resume/components/side_section";
@import "resume/components/experience";
@import "resume/components/education";
@import "resume/components/contact";
@import "resume/components/avatar";
@import "resume/components/skills";