.avatar {
    width: 100%;
    height: $width-right-col - 6rem;
    position: relative;
    overflow: hidden;

    &__container {
        @include hz-center;
        width: 100%;
        height: $width-right-col - 8rem;
        text-align: center;
    }

    &__img {
        object-fit: cover;
        width: 100%;
        @include all-center;
    }
}