.education {
    &__item {
        margin-bottom: 0.8rem;
    }

    &__place {
        font-weight: 700;
    }

    &__degree {
        margin-left: 1em;
    }

    &__date {
        float: right;
    }

    &__honors {
        margin-left: 1em;
    }
}