<div id="education" class="sideSection">
    <div class="sideSection__heading">
        <h2 class="sideSection__title">Education</h2>
    </div>
    <div class="sideSection__content">
        <ul>
            {{ range .education }}
            <li class="education__item">
                <div class="education__place">{{ .institution | safeHTML }}</div>
                <div>
                    <span class="education__degree">{{ .studyType }} {{ .area | safeHTML }}</span>
                    <span class="education__date">{{ time.Format "January 2006" .endDate }}</span>
                </div>
                {{ if .score }}<div class="education__honors">{{ .score | safeHTML }}</div>{{ end }}
            </li>
            {{ end }}
        </ul>
    </div>
</div>
