<div id="education" class="sideSection">
    <div class="sideSection__heading">
        <h2 class="sideSection__title">Education</h2>
    </div>
    <div class="sideSection__content">
        <ul>
            {{ range .Education }}
            <li class="education__item">
                <div class="education__place">{{ .Place | safeHTML }}</div>
                <div>
                    <span class="education__degree">{{ .Degree | safeHTML }}</span>
                    <span class="education__date">{{ .Date | safeHTML }}</span>
                </div>
                {{ if .Honors }}<div class="education__honors">{{ .Honors | safeHTML }}</div>{{ end }}
            </li>
            {{ end }}
        </ul>
    </div>
</div>