<div class="sideSection">
    <div class="sideSection__heading">
        <h2 class="sideSection__title">Skills</h2>
    </div>
    <div class="sideSection__content">
        <ul class="skills">
            <li>
                {{ range .skills }}
                <ul class="skills__group">
                    <span>{{ .name | safeHTML }}</span>
                    <br>
                    {{ range .keywords }}
                    <li>{{ . | safeHTML }}</li>
                    {{ end }}
                </ul>
                {{ end }}
            </li>
        </ul>
    </div>
</div>
