{{ define "content" }}
{{ $data := .Site.Data.resume }}
<div class="content__left">
  <h1 class="mainHeading">{{ index (split $data.basics.name " ") 0 }} <span>{{ index (split $data.basics.name " ") 1 }}</span></h1>
  {{ partial "resume/_profile.html" $data }}
  {{ partial "resume/_experience.html" $data }}
</div>
<div class="content__right">
  {{ partial "resume/_avatar.html" $data }}
  {{ partial "resume/_contacts.html" $data }}
  {{ partial "resume/_skills.html" $data }}
  {{ partial "resume/_education.html" $data }}
</div>
{{ end }}
