*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    background-color: $color-page-background;
}

.content {
    width: $page-width;
    min-height: $page-height;
    background-color: $color-light;

    @media screen and (min-width: 60rem) {
        margin: 6rem 0;
        margin-top: 2rem;
        @include shadow(1);
        @include hz-center;
    }
}

body {
    box-sizing: border-box;
    margin: 0px;
}

@media print {
    html {
        background-color: $color-light;
    }

    @page {
        size: letter;
        height: $page-height * 2;
    }

    .navigation,
    .experience__badges,
    .footer {
        display: none !important;
    }
}