body {
    color: $color-dark;
    font-family: 'Roboto', sans-serif;
    font-size: 1.12rem;
    font-weight: 300;
    /* The Roboto font blends some character combinations together. E.g. `fi`
       When printing, the pdf rendering engine cannot identify these characters and
       replaces them with the unicode replacement character, /u+fffd. The letter-spacing
       solves this. */
    letter-spacing: .01px;
    line-height: 1.7;
}

.mainHeading {
    text-transform: uppercase;
    font-size: 5rem;
    color: $color-secondary;

    & span {
        color: $color-primary;
    }
}

.section__title {
    font-size: 2.1rem;
    color: $color-dark;
}

h1,
h2 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
